.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url('../../../images/kaufman-triangle.svg');
  object-fit: cover;
  background-size: cover;
  background-position: center;
  position: absolute;
  right:-210px;
  top: 0;
}
